*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.nav-bar{
    position: sticky;
    top:0;
    z-index: 10;

}
.navbar{
  background-color: gainsboro;
  padding: 0! important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 100px;
}
navbar-nav li{
    padding: 0px 10px;
}
.navbar-nav li a{
    color: black !important;
    font-weight: 600;
}
.fa-search{
    margin: 14px 0px 0px 10px;
}
.fa-bars{
    font-size: 30px;
    color: black;
}
.navbar-toggler{
    outline: none;
}
/* start banner */
.banner{
    background-image: url(slide-2.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white;
}
.banner h1{
    margin-top: 100px;
    
}
.banner p{
    font-size: 20px;
    margin-bottom: 50px;
    width: 500px;
}
/* start services */
.a{
    background-image: url(23_660x371.jpg);
    background-size: cover;

}
.b{
    background-image: url(tree.jpg);
    background-size: cover;
}
.c{
    background-image: url(download.jfif);
    background-size: cover;
}
.d{
    background-image: url(awesome-solitude-bess-hamiti.jpg);
    background-size: cover;
    

}
.a,.b,.c,.d{
    float: left;
    color: white;
    width: 24%;
    height: 500px;
    margin: 5px;

}
.fa-briefcase,.fa-industry,.fa-line-chart,.fa-university{
    font-size: 100px;
    margin: 10px 90px;
   
}
h2{
    margin-top: 150px;
    margin-left: 10px;
}
.a p,.b p,.c p,.d p{
    margin-left: 10px;
}
.a:hover{
    color: rgb(201, 109, 76);
    transition-delay:0.5s ;
}
.b:hover{
    color: rgb(201, 109, 76);
    transition-delay:0.5s ;
}
.c:hover{
    color: rgb(201, 109, 76);
    transition-delay:0.5s ;
}
.more{
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    color: rgb(251, 241, 241);
}
.more:hover{
    color: rgb(141, 22, 22);
}
.d:hover{
    color: rgb(201, 109, 76);
    transition-delay:0.5s ;
}
/* start work team */
.team{
    width: 49%;
    height: 500px;
    background-color: gainsboro;
}
.team img{
    width: 500px;
    height: 350px;
    margin: 70px 0px 0px 50px;
}
.work h3{
    margin: 100px 0px 0px 20px;
}
.work p{
    margin-left: 20px;
    padding-top: 20px;
}
.work{
    width: 49%;
    height: 500px;
    margin-left: 10px;
    background-color: gainsboro;
}
.team,.work{
    float: left;
}
.p,.q {
    float: left;
    list-style: none;
    font-size: 20px;
    margin-top: 40px;
}
.p a,.q a{
    text-decoration: none;
    color: black;
}
.btn{
    margin: 10px 0px 0px 50px;
}
/* start about */
.img{
    width: 23%;
    height: 500px;
    margin: 10px;
    float: left;
}
.img img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.img p{
    margin-left: 40px;
}
 /* start pricing */
 .m{
    width: 31%;
    float: left;
    height: 550px;
    background-color: aliceblue;
    margin: 10px;
 }
 .st{
    font-size: 25px;
    font-weight: 600;
    color: rgb(187, 37, 37);
    margin-left: 20px;
 }
 .price{
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
 }
 .con{
    list-style: none;
    font-size: 20px;
    line-height: 45px;
 }
 .fa-check{
    color: orangered;
 }
/* start identy */
.s{
    width: 600px;
    margin:10px 0px 0px 400px;
}
h4{
    margin-left: 150px;
}
.line{
    width: 350px;
    height: 3px;
    background-color: orangered;
    margin-left: 50px;
}
.pic img{
    width: 100%;
    height: 500px;
    margin: 10px;
}
.pic{
    width: 23%;
    height: 700px;
    float: left;
    margin: 10px;
}
h5{
    margin-left: 40px;
}
.pic p{
    margin-left: 40px;
}

/* start projects */
.pr_1{
    background-image: url(OIP.jfif);
    background-size: cover;
}
.pr_2{
    background-image: url(OIP\ \(1\).jfif);
    background-size: cover;
}
.pr_3{
    background-image: url(OIP\ \(2\).jfif);
    background-size: cover;
}
.br_1{
    background-image: url(OIP\ \(3\).jfif);
    background-size: cover;
}
.br_2{
    background-image: url(OIP\ \(4\).jfif);
    background-size: cover;
}
.br_3{
    background-image: url(download\ \(1\).jfif);
    background-size: cover;
}
.br_1,.br_2,.br_3{
    width: 31%;
    height: 400px;
    float: left;
    margin: 10px;
}
.pr_1,.pr_2,.pr_3{
    width: 31%;
    height: 400px;
    float: left;
    margin: 10px;
}
.son{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin: 22px 0px 0px 25px;
}
.pr_1 p,.pr_2 p,.pr_3 p,.br_1 p,.br_2 p,.br_3 p{
    color: white;
    margin: 10px 0px 0px 25px;
}
.arrow{
    margin:10px 0px 0px 25px;
    text-decoration: none;
    color: rgb(21, 20, 19);
}
/* start news */
.pk{
    width: 31%;
    height: 700px;
    margin: 10px;
    float: left;
    background-color: rgb(234, 250, 247);
}
.pk img{
    width: 100%;
    height: 350px;
}
.rp{
    font-size: 30px;
    margin:20px 0px 0px 20px;
    font-weight: 600;
}
.pk p{
    margin-left: 20px;
    padding: 20px;
    font-weight: 600;
}
/* start footer */
footer{
    background-color: rgb(15, 11, 6);
    height: 300px;
}
.f{
    width: 23%;
    float: left;
   background-color: rgb(20, 18, 15);
   margin: 10px;
}
span{
    font-size: 30px;
    font-weight: 600;
   padding-left: 30px;
   color: brown;
}
.fl li{
    list-style: none;
    line-height: 30px;
    margin: 5px;
    color: blueviolet;
}
.fl i{
    color: rgb(8, 151, 254);
    font-size: 25px;
}
.fl li a{
    text-decoration: none;
    color: blueviolet;
}
.f p{
    color: blueviolet;
    padding: 10px;
    font-size: 18px;
}
.fl li:hover{
    background-color: rgb(226, 134, 43);
}